<h1>Edit Profile</h1>

<form method="POST">
  <label for="input-name">Name</label>
  <input type="text" name="name" placeholder="Your Name" id="input-name" value="{{ user.name }}">

  <button>Edit Profile</button>
</form>