<h1>Home View</h1>

<main>
  <section>
    {{#each posts}}
      {{>post}}
    {{/each}}
  </section>
  <aside>
    <h4>Popular Channels</h4>
    <ul class="channel-list">
      {{#each popularChannels}}
        <li class="channel-item"><a href="/channel/{{ _id }}">{{ name }}</a></li>
      {{/each}}
    </ul>
    <p>Didn't find the channel you were looking for?</p>
    <a href="/channel/create" class="btn">Create Channel</a>
  </aside>
</main>
