<h1>Create a New Channel</h1>

<form method="POST">
  <label for="input-name">Channel Name</label>
  <input type="text" name="name" id="input-name" placeholder="Channel Name">
  <button>Create Channel</button>
</form>