<article>
  <h1>{{ post.title }}</h1>
  <span>{{ post.channel.name }}</span>
  <figure>
    <img src="https://source.unsplash.com/600x400/?waves" alt="Post Title" />
  </figure>
  <p>{{ post.content }}</p>
</article>