<h1>{{ channel.name }}</h1>

<main>
  <section>
    {{#each posts}}
      {{>post}}
    {{/each}}
  </section>
  <aside>
    <a href="/channel/{{ channel._id }}/post/create" class="btn">Create Post</a>
  </aside>
</main>
